<!DOCTYPE html>
<!-- saved from url=(0044)http://m.mi.com/index.html#ac=address&op=add -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="xiaomi">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon-precomposed" href="http://img01.mifile.cn/m/app/touch-icon.png">
    <link rel="shortcut icon" href="http://m.mi.com/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/order.css">
    <title>酒查查商城-酒查查官网</title>
    <style type="text/css">
        object,embed{                -webkit-animation-duration:.001s;-webkit-animation-name:playerInserted;                -ms-animation-duration:.001s;-ms-animation-name:playerInserted;                -o-animation-duration:.001s;-o-animation-name:playerInserted;                animation-duration:.001s;animation-name:playerInserted;}                @-webkit-keyframes playerInserted{from{opacity:0.99;}to{opacity:1;}}                @-ms-keyframes playerInserted{from{opacity:0.99;}to{opacity:1;}}                @-o-keyframes playerInserted{from{opacity:0.99;}to{opacity:1;}}                @keyframes playerInserted{from{opacity:0.99;}to{opacity:1;}}
    </style>
</head>
<body style="display: block; background: rgb(235, 236, 237);">
<div id="Cheader" style="">
    <div id="header" class="header_03">
        <div class="back">
            <a href="index.html" class="arrow" data-stat-id="ee3d8ad4696c648d" onclick="_msq.push([&#39;trackEvent&#39;, &#39;485459d303ac75ee-ee3d8ad4696c648d&#39;, &#39;/home/&#39;, &#39;pcpid&#39;]);">首页</a>
        </div>
        <div class="tit" style="">
            <h3>新增地址</h3>
        </div>
        <div class="nav">
            <ul>
                <li class="cart">
                    <a href="cart.html" data-stat-id="96c452cb9824c0df" onclick="_msq.push([&#39;trackEvent&#39;, &#39;485459d303ac75ee-96c452cb9824c0df&#39;, &#39;/index.html#ac=shopping&amp;op=index&#39;, &#39;pcpid&#39;]);">购物车</a>
                    <span id="ShoppingCartNum" style="display: none;"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="wrapper" class="xm_app">
    <div id="viewport" class="viewport" style="background: transparent;"><div id="crumbs" class="crumbs" style="display: none;">     <ul>      <li><a href="http://m.mi.com/home/" data-stat-id="d4dd3d65fbbaad6b" onclick="_msq.push([&#39;trackEvent&#39;, &#39;485459d303ac75ee-d4dd3d65fbbaad6b&#39;, &#39;/home/&#39;, &#39;pcpid&#39;]);"><span>首页</span></a></li>      <li><a href="http://m.mi.com/index.html#ac=account&op=index" data-stat-id="2d8fe37926abe33d" onclick="_msq.push([&#39;trackEvent&#39;, &#39;485459d303ac75ee-2d8fe37926abe33d&#39;, &#39;/index.html#ac=account&amp;op=index&#39;, &#39;pcpid&#39;]);">我的帐户</a></li>      <li><a href="http://m.mi.com/index.html#ac=address&op=list" data-stat-id="a131e7d58bd37636" onclick="_msq.push([&#39;trackEvent&#39;, &#39;485459d303ac75ee-a131e7d58bd37636&#39;, &#39;/index.html#ac=address&amp;op=list&#39;, &#39;pcpid&#39;]);">收货地址</a></li>      <li><a href="javascript:;" data-stat-id="77f278aa1e982c8d" onclick="_msq.push([&#39;trackEvent&#39;, &#39;485459d303ac75ee-77f278aa1e982c8d&#39;, &#39;javascript:;&#39;, &#39;pcpid&#39;]);">新增地址</a></li>     </ul>    </div>      <div class="address_add mlr20 ">    <div class="box box_01">     <div class="title">      <h3>收货人姓名</h3>     </div>     <div class="input">      <input type="text" placeholder="请填写真实姓名" id="consignee" maxlength="15">     </div>    </div>    <div class="box box_02">     <div class="title">      <h3>收货地址</h3>     </div>     <div class="box_02_01 h_box">      <div class="flex_1" style="display: none">       <div data-type="select" class="select">        <select id="country_id">         <option value="1">中国</option>        </select>       </div>      </div>

        <div class="flex_1">
            <div data-type="select" class="select">
                <div class="option">请选择省</div>
                <select id="province_id" onchange="javascript:MipuUtil.getRegion(&#39;province_id&#39;,&#39;city_id&#39;,2,&#39;district_id&#39;);">
                    <option value="0">请选择省</option>
                    <option value="2">北京</option><option value="3">天津</option><option value="4">河北</option><option value="5">山西</option><option value="6">内蒙古</option><option value="7">辽宁</option><option value="8">吉林</option><option value="9">黑龙江</option><option value="10">上海</option><option value="11">江苏</option><option value="12">浙江</option><option value="13">安徽</option><option value="14">福建</option><option value="15">江西</option><option value="16">山东</option><option value="17">河南</option><option value="18">湖北</option><option value="19">湖南</option><option value="20">广东</option><option value="21">广西</option><option value="22">海南</option><option value="23">重庆</option><option value="24">四川</option><option value="25">贵州</option><option value="26">云南</option><option value="27">西藏</option><option value="28">陕西</option><option value="29">甘肃</option><option value="30">青海</option><option value="31">宁夏</option><option value="32">新疆</option>
                </select>
            </div>
        </div>

        <div class="flex_1">
            <div data-type="select" class="select">
                <div data-value="01" class="option">请选择市</div>
                <select id="city_id" onchange="javascript:MipuUtil.getRegion(&#39;city_id&#39;,&#39;district_id&#39;,3);" disabled="true">         <option value="0">请选择市</option>        </select>
            </div>
        </div>

    </div>

        <div class="box_02_02">
            <div data-type="select" class="select">
                <div data-value="01" class="option">请选择区</div>
                <select id="district_id" disabled="true"><option value="0">请选择区</option></select>
            </div>

        </div>

        <div class="box_02_03">       <div class="textarea">      <textarea placeholder="路名或街道地址，门牌号，不少于10个字" id="address" maxlength="120"></textarea>       </div>       <div class="error_tips" style="display: none">      <p>错误提示信息</p>       </div>     </div>    </div>    <div class="box box_03">     <div class="title">      <h3>邮政编码</h3>     </div>     <div class="input">      <input placeholder="邮政编码,为6位数字" id="zipcode" type="tel" maxlength="6">     </div>     <div class="error_tips" style="display: none">      <p>错误提示信息</p>     </div>    </div>    <div class="box box_04">     <div class="title">      <h3>手机号码</h3>     </div>     <div class="input">      <input placeholder="联系人电话，11位数字" id="tel" type="tel" maxlength="11">     </div>    </div>    <div class="box box_05"><a id="AddressAddBtn" href="javascript:;" class="button active_button" data-stat-id="b5466e1c7ecbef23" onclick="_msq.push([&#39;trackEvent&#39;, &#39;485459d303ac75ee-b5466e1c7ecbef23&#39;, &#39;javascript:;&#39;, &#39;pcpid&#39;]);">确认完成</a></div>         </div><div id="footer" class="footer">             <div class="tip"><a href="http://www.mi.com/?mobile" class="goDesktop" data-stat-id="8d858a68b4b01291" onclick="_msq.push([&#39;trackEvent&#39;, &#39;485459d303ac75ee-8d858a68b4b01291&#39;, &#39;http://www.mi.com/&#39;, &#39;pcpid&#39;]);"><span>切换到电脑版</span></a></div>             <div class="links"><a href="http://p.www.xiaomi.com/m/huodong/page/2013/0922/index.html" data-stat-id="ab305527e5d218c8" onclick="_msq.push([&#39;trackEvent&#39;, &#39;485459d303ac75ee-ab305527e5d218c8&#39;, &#39;http://p.www.xiaomi.com/m/huodong/page/2013/0922/index.html&#39;, &#39;pcpid&#39;]);"><span class="linksBtn">立即下载</span>                 <p><strong>酒查查商城客户端</strong><span>与米粉交朋友</span></p></a></div>         </div></div>
</div>
<div id="maskLoad" class="maskLoad" style="display:none;"><span>正在加载...</span></div>
<div id="mask" class="mask hide"></div>
<div class="pop_panel hide" id="pop_panel">
    <div class="content">
        <div class="bd giftCard_view">
            <div class="gfc5">
                <div class="b b1">
                    <p>提示</p>
                </div>
                <div class="b b2">
                    <p id="content"></p>
                </div>
            </div>
        </div>
    </div><a href="javascript:;" id="CloseMaskBtn" class="close" data-stat-id="2c8d124be55949cc" onclick="_msq.push([&#39;trackEvent&#39;, &#39;485459d303ac75ee-2c8d124be55949cc&#39;, &#39;javascript:;&#39;, &#39;pcpid&#39;]);"><img src="./address_add_files/close.png"></a>
</div>
<div id="popup" style="display:none"><p></p></div>

<div class="loading_view" style="visibility:hidden">
    <div class="loading_wrap">
        <div class="loading_msg">正在加载 ...</div><a href="javascript:;" class="close" onclick="_msq.push([&#39;trackEvent&#39;, &#39;485459d303ac75ee-22892765a2389a00&#39;, &#39;javascript:;&#39;, &#39;pcpid&#39;]);MipuUtil.MaskLoading.close();" data-stat-id="22892765a2389a00"><img src="./address_add_files/loadingClose.png"></a>
    </div>
</div>

</body>
</html>