<!DOCTYPE html>
<!-- saved from url=(0050)http://m.mi.com/index.html#ac=order&op=list&type=2 -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon-precomposed" href="http://img01.mifile.cn/m/app/touch-icon.png">
    <link rel="shortcut icon" href="http://m.mi.com/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/order.css">
    <title>酒查查商城-酒查查官网</title>
    <style type="text/css">
        object,embed{                -webkit-animation-duration:.001s;-webkit-animation-name:playerInserted;                -ms-animation-duration:.001s;-ms-animation-name:playerInserted;                -o-animation-duration:.001s;-o-animation-name:playerInserted;                animation-duration:.001s;animation-name:playerInserted;}                @-webkit-keyframes playerInserted{from{opacity:0.99;}to{opacity:1;}}                @-ms-keyframes playerInserted{from{opacity:0.99;}to{opacity:1;}}                @-o-keyframes playerInserted{from{opacity:0.99;}to{opacity:1;}}                @keyframes playerInserted{from{opacity:0.99;}to{opacity:1;}}
        .no_order {
            font-size: 1.5em;
        }
    </style>
</head>
<body style="display: block; background: rgb(235, 236, 237);">
<div id="Cheader" style="">
    <div id="header" class="header_03">
        <div class="back">
            <a href="index.html" class="arrow" data-stat-id="ee3d8ad4696c648d" onclick="_msq.push([&#39;trackEvent&#39;, &#39;e2a622d1b7caf838-ee3d8ad4696c648d&#39;, &#39;/home/&#39;, &#39;pcpid&#39;]);">首页</a>
        </div>
        <div class="tit" style="">
            <h3>退款单</h3>
        </div>
        <div class="nav">
            <ul>
                <li class="cart">
                    <a href="cart.html" data-stat-id="96c452cb9824c0df" onclick="_msq.push([&#39;trackEvent&#39;, &#39;e2a622d1b7caf838-96c452cb9824c0df&#39;, &#39;/index.html#ac=shopping&amp;op=index&#39;, &#39;pcpid&#39;]);">购物车</a>
                    <span id="ShoppingCartNum" style="display: none;"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="wrapper" class="xm_app">
    <div id="viewport" class="viewport" style="display: block; background: transparent;"><div id="crumbs" class="crumbs" style="display: none;">     <ul>      <li><a href="http://m.mi.com/home/"><span>首页</span></a></li>      <li><a href="http://m.mi.com/index.html#ac=account&op=index">我的帐户</a></li>             <li><a href="javascript:;">订单查询</a></li>           </ul>    </div>      <div class="order_list mlr20">             <p class="gc mb20"><img style="width:22px;height:22px" src="images/sign_icon.png" alt=""> 酒查查公司不会以任何理由要求您提供银行卡信息或支付额外费用，请谨防钓鱼链接或诈骗电话</p>    <div class="box">     <div class="list_order list_order_tmp list_nav">            <div class="no_order">       您还没有该订单!      </div>           </div>         </div>         </div><div id="footer" class="footer">             <div class="tip"><a href="http://www.mi.com/?mobile" class="goDesktop"><span>切换到电脑版</span></a></div>             <div class="links"><a href="http://p.www.xiaomi.com/m/huodong/page/2013/0922/index.html"><span class="linksBtn">立即下载</span>                 <p><strong>酒查查商城客户端</strong><span>与米粉交朋友</span></p></a></div>         </div></div>
</div>
<div id="maskLoad" class="maskLoad" style="display:none;"><span>正在加载...</span></div>
<div id="mask" class="mask hide"></div>
<div class="pop_panel hide" id="pop_panel">
    <div class="content">
        <div class="bd giftCard_view">
            <div class="gfc5">
                <div class="b b1">
                    <p>提示</p>
                </div>
                <div class="b b2">
                    <p id="content"></p>
                </div>
            </div>
        </div>
    </div><a href="javascript:;" id="CloseMaskBtn" class="close" data-stat-id="2c8d124be55949cc" onclick="_msq.push([&#39;trackEvent&#39;, &#39;e2a622d1b7caf838-2c8d124be55949cc&#39;, &#39;javascript:;&#39;, &#39;pcpid&#39;]);"><img src="images/close.png"></a>
</div>
<div id="popup" style="display:none"><p></p></div>
</body>
</html>