<!DOCTYPE html>
<!-- saved from url=(0050)http://m.mi.com/index.html#ac=comment&op=goodslist -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="xiaomi">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon-precomposed" href="http://img01.mifile.cn/m/app/touch-icon.png">
    <link rel="shortcut icon" href="http://m.mi.com/favicon.ico" type="image/x-icon">
    <meta name="description" content="手版小米商城客户端可以随时随地参与预约抢购小米手机，轻松下单购买，实时查询订单信息掌握物流状态，小米商城app手机客户端还有新品信息通知推送功能，所有商品信息随身掌握。">
    <meta name="keywords" content="小米商城,小米手机,小米商城下载,小米商城app">
    <link rel="stylesheet" type="text/css" href="css/order.css">
    <title>小米商城-小米官网</title>

    <style type="text/css">object,embed{                -webkit-animation-duration:.001s;-webkit-animation-name:playerInserted;                -ms-animation-duration:.001s;-ms-animation-name:playerInserted;                -o-animation-duration:.001s;-o-animation-name:playerInserted;                animation-duration:.001s;animation-name:playerInserted;}                @-webkit-keyframes playerInserted{from{opacity:0.99;}to{opacity:1;}}                @-ms-keyframes playerInserted{from{opacity:0.99;}to{opacity:1;}}                @-o-keyframes playerInserted{from{opacity:0.99;}to{opacity:1;}}                @keyframes playerInserted{from{opacity:0.99;}to{opacity:1;}}</style></head>
<body style="display: block; background: rgb(235, 236, 237);">
<div id="Cheader" style="">
    <div id="header" class="header_03">
        <div class="back">
            <a href="http://m.mi.com/home/" data-stat-id="1c3b2f8d3dcebd60" onclick="_msq.push([&#39;trackEvent&#39;, &#39;7e91e1e4f037c00e-1c3b2f8d3dcebd60&#39;, &#39;/home/&#39;, &#39;pcpid&#39;]);" class="arrow">首页</a>
        </div>
        <div class="tit" style="">
            <h3>评价商品列表</h3>
        </div>
        <div class="nav">
            <ul>
                <li class="cart">
                    <a href="http://m.mi.com/index.html#ac=shopping&op=index" data-stat-id="96c452cb9824c0df" onclick="_msq.push([&#39;trackEvent&#39;, &#39;7e91e1e4f037c00e-96c452cb9824c0df&#39;, &#39;/index.html#ac=shopping&amp;op=index&#39;, &#39;pcpid&#39;]);">购物车</a>
                    <span id="ShoppingCartNum" style="display:none"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="wrapper" class="xm_app">
    <div id="viewport" class="viewport" style="display: block; background: transparent;"><div id="crumbs" class="crumbs" style="display: none;">     <ul>      <li><a href="http://m.mi.com/home/"><span>首页</span></a></li>      <li><a href="http://m.mi.com/index.html#ac=account&op=index">我的帐户</a></li>                     <li><a href="javascript:;">评价商品列表</a></li>     </ul>    </div>            <div class="comment_list repair_list mlr20">                          <div class="box">                 <div class="list_order_tmp list_nav">                     <ul id="getGoodsList">                                                                           <li>                             <div class="order items"><a href="comment_info.html" class="lnk">                                 <div class="imgurl"><img src="images/T1QtxTBvET1RXrhCrK!180x180.jpg"></div>                                 <div class="order_info">                                   <dl>                                     <dt class="order_id">小米礼品袋</dt>                                     <dd class="add_time">售价：¥1 收货时间：2015/05/23 </dd>                                   </dl>                                 </div></a></div>                         </li>                                                                                                    <li>                             <div class="order items"><a href="comment_info.html" class="lnk">                                 <div class="imgurl"><img src="images/T1ggWQBybT1RXrhCrK!180x180.jpg"></div>                                 <div class="order_info">                                   <dl>                                     <dt class="order_id">小米移动电源10000mAh 银色</dt>                                     <dd class="add_time">售价：¥69 收货时间：2015/05/23 </dd>                                   </dl>                                 </div></a></div>                         </li>                                                                                                    <li>                             <div class="order items"><a href="comment_info.html" class="lnk">                                 <div class="imgurl"><img src="images/T1ltWvBCxv1RXrhCrK!180x180.jpg"></div>                                 <div class="order_info">                                   <dl>                                     <dt class="order_id">小米移动电源保护套10000mAh 蓝色</dt>                                     <dd class="add_time">售价：¥19.9 收货时间：2015/05/23 </dd>                                   </dl>                                 </div></a></div>                         </li>                                                                       </ul>                 </div>                              </div>                      </div><div id="footer" class="footer">             <div class="tip"><a href="http://www.mi.com/?mobile" class="goDesktop"><span>切换到电脑版</span></a></div>             <div class="links"><a href="http://p.www.xiaomi.com/m/huodong/page/2013/0922/index.html"><span class="linksBtn">立即下载</span>                 <p><strong>小米商城客户端</strong><span>与米粉交朋友</span></p></a></div>         </div></div>
</div>
<div id="maskLoad" class="maskLoad" style="display:none;"><span>正在加载...</span></div>
<div id="mask" class="mask hide"></div>
<div class="pop_panel hide" id="pop_panel">
    <div class="content">
        <div class="bd giftCard_view">
            <div class="gfc5">
                <div class="b b1">
                    <p>提示</p>
                </div>
                <div class="b b2">
                    <p id="content"></p>
                </div>
            </div>
        </div>
    </div><a href="javascript:;" id="CloseMaskBtn" class="close" data-stat-id="2c8d124be55949cc" onclick="_msq.push([&#39;trackEvent&#39;, &#39;7e91e1e4f037c00e-2c8d124be55949cc&#39;, &#39;javascript:;&#39;, &#39;pcpid&#39;]);"><img src="./comment_files/close.png"></a>
</div>
<div id="popup" style="display:none"><p></p></div>
<div class="loading_view" style="visibility:hidden">
    <div class="loading_wrap">
        <div class="loading_msg">正在加载 ...</div><a href="javascript:;" class="close" onclick="_msq.push([&#39;trackEvent&#39;, &#39;7e91e1e4f037c00e-22892765a2389a00&#39;, &#39;javascript:;&#39;, &#39;pcpid&#39;]);MipuUtil.MaskLoading.close();" data-stat-id="22892765a2389a00"><img src="./comment_files/loadingClose.png"></a>
    </div>
</div>
</body>
</html>