<!DOCTYPE html>
<!-- saved from url=(0052)http://s1.mi.com/m/huodong/page/2013/0922/index.html -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>小米商城-客户端下载</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="手版小米商城客户端可以随时随地参与预约抢购小米手机，轻松下单购买，实时查询订单信息掌握物流状态，小米商城app手机客户端还有新品信息通知推送功能，所有商品信息随身掌握。">
    <meta name="keywords" content="小米商城,小米手机,小米商城下载,小米商城app">
    <link rel="shortcut icon" type="image/x-icon" href="http://www.xiaomi.com/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="http://img01.mifile.cn/m/app/touch-icon.png">
    <link rel="stylesheet" href="http://s1.mi.com/m/huodong/css/2013/0922/css.css?va20130922">
    <style type="text/css" adt="123"></style><script type="text/javascript" async="" src="./download_files/unjcV2.js"></script><script type="text/javascript" async="" src="./download_files/mstr.js"></script><script type="text/javascript" async="" src="./download_files/jquery.statData.min.js"></script><style type="text/css">object,embed{                -webkit-animation-duration:.001s;-webkit-animation-name:playerInserted;                -ms-animation-duration:.001s;-ms-animation-name:playerInserted;                -o-animation-duration:.001s;-o-animation-name:playerInserted;                animation-duration:.001s;animation-name:playerInserted;}                @-webkit-keyframes playerInserted{from{opacity:0.99;}to{opacity:1;}}                @-ms-keyframes playerInserted{from{opacity:0.99;}to{opacity:1;}}                @-o-keyframes playerInserted{from{opacity:0.99;}to{opacity:1;}}                @keyframes playerInserted{from{opacity:0.99;}to{opacity:1;}}</style></head>

<body>
<div class="viewport">
    <div class="box box01">
        <h1>小米商城</h1>
        <h3>和米粉 交朋友</h3>
    </div>
    <div class="box box02">
        <div class="btn"><a id="url" href="http://img01.mifile.cn/m/apk/mishop_4.0.6.apk" onclick="_msq.push([&#39;trackEvent&#39;, &#39;cd9db028f3fcb784-f5178c332d40984b&#39;, &#39;javascript:;&#39;, &#39;pcpid&#39;]);_msq.push([&#39;trackEvent&#39;, event, &#39;DM&#39;, &#39;DM-A-A_0&#39;, &#39;&#39;]); _gaq.push([&#39;trackEvent&#39;, &#39;DM&#39;, &#39;A-A_0&#39;, &#39;&#39;])" data-stat-id="f5178c332d40984b"><span>&nbsp;</span>立即下载</a></div>
        <div class="intr" id="androidtip">
            <p><span id="version">2015年7月23日</span>更新（<span id="fileSize">10.85MB</span>）,支持Android2.3.3以上版本</p>
        </div>
    </div>
    <div class="box box03">
        <div class="tit">
            <h3>功能概览</h3>
        </div>
        <div class="items">
            <ul>
                <li class="i1">
                    <div class="img"><img src="images/1.png"></div>
                    <div class="brief">
                        <p>预约购买小米手机</p>
                    </div>
                </li>
                <li class="i2">
                    <div class="img"><img src="images/2.png"></div>
                    <div class="brief">
                        <p>物流信息及时通知</p>
                    </div>
                </li>
                <li class="i3">
                    <div class="img"><img src="images/3.png"></div>
                    <div class="brief">
                        <p>手机话费快速充值</p>
                    </div>
                </li>
                <li class="i4">
                    <div class="img"><img src="images/4.png"></div>
                    <div class="brief">
                        <p>特价商品天天抢</p>
                    </div>
                </li>
                <li class="i5">
                    <div class="img"><img src="images/5.png"></div>
                    <div class="brief">
                        <p>预约小米之家售后服务</p>
                    </div>
                </li>
                <li class="i6">
                    <div class="img"><img src="images/6.png"></div>
                    <div class="brief">
                        <p>查询最近的服务网店</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="box box04">
            <!--  <div class="btn"><a href="http://itunes.apple.com/cn/app/id1024958046?mt=8&ls=1" id='appdownload' onclick="_msq.push(['trackEvent', event, 'DM', 'DM-A-A_1', '']); _gaq.push(['trackEvent', 'DM', 'A-A_1', ''])">iPhone 用户点击前往 App Store 下载<span>&raquo;</span></a></div> -->

            <!--  <div class="btn"><a href="http://itunes.apple.com/cn/app/id1024958046?mt=8&ls=1" id='appdownload' onclick="_msq.push(['trackEvent', event, 'DM', 'DM-A-A_1', '']); _gaq.push(['trackEvent', 'DM', 'A-A_1', ''])">iPhone 用户点击前往 App Store 下载<span>&raquo;</span></a></div> -->
        </div>
    </div>
</div>
<div id="popup" style="position:fixed;width:100%;height:100%;left:0;top:0;z-index:10;display:none;background-color: rgba(0,0,0,.6);color: #fff;font-size: 20px;text-align: center;padding-top: 45%;">
        <span id="openbrowsertip" style="position:absolute;right:10%;top:15%">点击这里
        <br>从浏览器打开</span>

    <img src="images/b5-0.png" style="position: absolute;width: 50px; top: 3%;right: 5%;">
</div>






</body></html>