<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="xiaomi">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon-precomposed" href="http://img01.mifile.cn/m/app/touch-icon.png">
    <link rel="shortcut icon" href="http://m.mi.com/favicon.ico" type="image/x-icon">
    <meta name="description" content="手版小米商城客户端可以随时随地参与预约抢购小米手机，轻松下单购买，实时查询订单信息掌握物流状态，小米商城app手机客户端还有新品信息通知推送功能，所有商品信息随身掌握。">
    <meta name="keywords" content="小米商城,小米手机,小米商城下载,小米商城app">
    <link rel="stylesheet" type="text/css" href="css/order_info.css">
    <title>小米商城-小米官网</title>
    <style type="text/css">object,embed{                -webkit-animation-duration:.001s;-webkit-animation-name:playerInserted;                -ms-animation-duration:.001s;-ms-animation-name:playerInserted;                -o-animation-duration:.001s;-o-animation-name:playerInserted;                animation-duration:.001s;animation-name:playerInserted;}                @-webkit-keyframes playerInserted{from{opacity:0.99;}to{opacity:1;}}                @-ms-keyframes playerInserted{from{opacity:0.99;}to{opacity:1;}}                @-o-keyframes playerInserted{from{opacity:0.99;}to{opacity:1;}}                @keyframes playerInserted{from{opacity:0.99;}to{opacity:1;}}</style></head>
<body style="display: block; background: rgb(235, 236, 237);">
<div id="Cheader" style="">
    <div id="header" class="header_03">
        <div class="back">
            <a href="index.html" class="arrow" data-stat-id="ee3d8ad4696c648d" onclick="_msq.push([&#39;trackEvent&#39;, &#39;e2a622d1b7caf838-ee3d8ad4696c648d&#39;, &#39;/home/&#39;, &#39;pcpid&#39;]);">首页</a>
        </div>
        <div class="tit" style="">
            <h3>订单详情</h3>
        </div>
        <div class="nav">
            <ul>
                <li class="cart">
                    <a href="cart.html" data-stat-id="96c452cb9824c0df" onclick="_msq.push([&#39;trackEvent&#39;, &#39;e2a622d1b7caf838-96c452cb9824c0df&#39;, &#39;/index.html#ac=shopping&amp;op=index&#39;, &#39;pcpid&#39;]);">购物车</a>
                    <span id="ShoppingCartNum" style="display: none;"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="wrapper" class="xm_app">
    <div id="viewport" class="viewport" style="display: block; background: transparent;">
        <div id="crumbs" class="crumbs" style="display: none;">
            <ul>
                <li><a href="http://m.mi.com/home/"><span>首页</span></a></li>
                <li><a href="http://m.mi.com/index.html#ac=account&op=index">我的帐户</a></li>
                <li><a href="http://m.mi.com/index.html#ac=order&op=list&type=2">交易订单</a></li>
                <li><a href="javascript:;">订单详情</a></li>
            </ul>
        </div>
        <div class="order_view mlr20 mb40 has_bottom_panel">
            <div class="envelope_paper">
                <div class="envelope_paper_bd">
                    <div class="envelope_paper_content">
                        <p class="gc mb20"><img style="width:22px;height:22px" src="images/sign_icon.png" alt=""> 小米公司不会以任何理由要求您提供银行卡信息或支付额外费用，请谨防钓鱼链接或诈骗电话<a href="http://bbs.xiaomi.cn/thread/index/tid/11508301" class="oc">了解更多&gt;</a></p>
                        <div class="box box_01 order_tit">
                            <ul>
                                <li><strong>订单状态</strong><span class="order_status ">已收货</span></li>
                                <li><strong>商品总价</strong><span class="order_status">¥49</span>&nbsp;<strong>优惠</strong><span class="order_status">¥0</span>&nbsp;<strong>运费</strong><span class="order_status">¥10</span></li>                                 <li><strong>应付总额</strong><span class="goods_amount">¥59</span></li>                             </ul>                                                                                                                                                                              </div>                                                                           <div class="box box_04 express_info">                             <div class="itmes"><a href="http://m.mi.com/index.html#ac=order&op=Expressview&deliver_id=114122336001938701" class="lnk">                                 <ul>                                     <li><strong>物流信息</strong><span>如风达(上海)</span></li>                                     <li><strong>快递单号</strong><span>114122336001938701</span></li>                                 </ul></a>                             </div>                         </div>                                                                           <div class="box box_02 order_info">                             <ul>                                 <li><strong>下单日期</strong><span class="add_time">2014-12-23 12:16:05</span></li>                                 <li><strong>订单编号</strong><span class="order_id">1141223360019387</span></li>                                       <li><strong>收货地址</strong><span class="address">浙江 杭州市 江干区 白杨街道杭州电子科技大学 (310018)<br>胡鹏飞 137****9284</span></li>          <li><strong>送货时间</strong><span class="best_time">不限送货时间</span></li>                                               <li><strong>发票类型</strong><span class="invoice_title">个人电子发票 <a class="oc" href="http://m.mi.com/mshopapi/index.php/v1/order/downloadInvoice?order_id=1141223360019387&client_id=180100031013">（下载）</a></span></li>         <li><strong>发票抬头</strong><span class="invoice_title">个人</span></li>                                      </ul>                         </div>                         <div class="box box_03">                             <div class="list_order_tmp">                                 <ul>                                                                          <li>                                         <div class="items h_box">                                             <div class="imgurl"><img src="images/order2.jpg"></div>                                             <div class="info">                                                 <p class="name">小米移动电源5000mAh 银色</p>                                                 <div class="order_items">                                                     <div class="price_info">               <span class="sale_price">售价：¥ 49</span><span class="num">数量：1</span><span class="subtotal">小计：¥ 49</span>              </div>                                                 </div>                                             </div>                                         </div>                                         <div class="btns" style="display:none">                                                                                      </div>                                     </li>                                                                      </ul>                             </div>                         </div>                     </div>                 </div>             </div>                              <div class="bottom_panel">                 <div class="settle_panel">                     <div class="goods_amount">                         <div class="price"><span>应付总额:</span><strong>¥59</strong></div>                     </div>                                                                                </div>             </div>                      </div><div id="footer" class="footer" style="display: none;">             <div class="tip"><a href="http://www.mi.com/?mobile" class="goDesktop"><span>切换到电脑版</span></a></div>             <div class="links"><a href="http://p.www.xiaomi.com/m/huodong/page/2013/0922/index.html"><span class="linksBtn">立即下载</span>                 <p><strong>小米商城客户端</strong><span>与米粉交朋友</span></p></a></div>         </div></div>
</div>
<div id="maskLoad" class="maskLoad" style="display:none;"><span>正在加载...</span></div>
<div id="mask" class="mask hide"></div>
<div class="pop_panel hide" id="pop_panel">
    <div class="content">
        <div class="bd giftCard_view">
            <div class="gfc5">
                <div class="b b1">
                    <p>提示</p>
                </div>
                <div class="b b2">
                    <p id="content"></p>
                </div>
            </div>
        </div>
    </div><a href="javascript:;" id="CloseMaskBtn" class="close" data-stat-id="2c8d124be55949cc" onclick="_msq.push([&#39;trackEvent&#39;, &#39;e2a622d1b7caf838-2c8d124be55949cc&#39;, &#39;javascript:;&#39;, &#39;pcpid&#39;]);"><img src="./order_info_files/close.png"></a>
</div>
<div id="popup" style="display:none"><p></p></div>
<div class="loading_view" style="visibility:hidden">
    <div class="loading_wrap">
        <div class="loading_msg">正在加载 ...</div><a href="javascript:;" class="close" onclick="_msq.push([&#39;trackEvent&#39;, &#39;e2a622d1b7caf838-22892765a2389a00&#39;, &#39;javascript:;&#39;, &#39;pcpid&#39;]);MipuUtil.MaskLoading.close();" data-stat-id="22892765a2389a00"><img src="./order_info_files/loadingClose.png"></a>
    </div>
</div>
</body></html>