  <div class="nl-footer">
      <div class="nl-f-nav" id="nl_f_nav">
        <span id="custom_display_4"> <a href="javascript:void(0);" onclick="change_lang(&#39;zh_CN&#39;); return false;" class="zh-cn">简体</a>| <a href="javascript:void(0);" onclick="change_lang(&#39;zh_TW&#39;); return false;" class="zh-tw">繁体</a>| <a href="javascript:void(0);" onclick="change_lang(&#39;en&#39;); return false;" class="zh-en">English</a> </span> <span id="custom_display_32"> <span class="n_common_line">|</span> <span id="message_FAQLIST"><a href="http://static.account.xiaomi.com/html/faq/faqList.html" target="_blank">常见问题</a></span> </span>
      </div>
      <p class="nl-f-copyright" id="message_COPYRIGHT">三口一头猪有限公司版权所有</p>
    </div>
    <div id="modal-mask" class="modal-mask display-custom-hide"> </div>
    <div class="modal-container display-custom-hide" id="qrlogin-container">
      <div id="qrlogin-close" class="modal-close">Close</div>
      <iframe id="qrlogin-iframe" frameborder="0" border="0" class="qrlogin-iframe" style="width: 340px; height: 340px; margin-top: -170px; margin-left: -170px;"></iframe>
    </div>
  </div>
  <a target="_blank"></a>